input[type=text]{
    font-size: 15px;
}

.form-label{
    font-size: 15px;
} 

.form-select{
    font-size: 15px;
}


.grid-container2 {
    background-color: rgb(255, 255, 255);
    height: auto;
    display: grid;
    column-gap: 5px;
    grid-template-columns: auto auto;
    padding-left: 10vw;
    padding-right: 10vw;
    color: rgb(0, 0, 0);
  }

  .grid-item2 {
    padding-top: 5px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 15px;
    font-size: 20px;
    text-align: left;
    align-content: center;
    display: grid;
  }

 